# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/*
*.user
*.suo
*.userprefs
*.sln.docstates

# Rider
.idea/
# NuGet
packages/
# htm 파일 무시
*. htm
*.zip
*.exe
*.dll
*.pdb
.DS_Store
Thumbs.db
# 기타 무시할 항목
.vs/
.vscode/
packages/
*.log

Chill_with_You_Lo-Fi_Story_kr/BepInEx/cache/
Chill_with_You_Lo-Fi_Story_kr/BepInEx/core/
Chill_with_You_Lo-Fi_Story_kr/BepInEx/patchers/
.doorstop_version
doorstop_config.ini
changelog.txt
README (AutoTranslator).md
!Chill_with_You_Lo-Fi_Story_kr/BepInEx/plugins/**
