# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
. vs/
*. user
*.suo
*.userprefs
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# NuGet
packages/

# OS
.DS_Store
Thumbs.db

# 압축 파일
*.zip



# htm 파일 무시
*. htm